<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.skku.swp3.straycat">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--<activity android:name=".ShareActivity"/>-->
        <!--<activity android:name=".SearchActivity"></activity>-->
        <!--<activity android:name=".LikesActivity"></activity>-->
        <!--<activity android:name=".ProfileActivity"></activity>-->
        <!--<activity android:name=".NextActivity"></activity>-->
        <!--<activity android:name=".HomeActivity"></activity>-->
        <!--<activity android:name=".TabActivity"-->
            <!--android:label="@string/title_activity_tab"></activity>-->

        <!--<activity android:name=".PostActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.shuvic.alumni.cameraalbum"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMygYdL8_6Xu2ynp6i0VQIBj_9pg4yQEI" />

        <activity android:name=".TabActivity"
                android:label="@string/title_activity_tab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".LikesActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".ShareActivity"></activity>
        <activity android:name=".NextActivity"></activity>
        <activity android:name=".PostActivity"></activity>
        <activity android:name=".CatListActivity"></activity>


        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity android:name=".CommentActivity" />
    </application>

</manifest>